* {
  margin: 0px;
  padding: 0px;
}
.Navlogo {
  margin: 20px;
}
.container {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 190px;
  margin-left: 20px;
}

.Home {
  display: flex;
  flex-direction: row;
  background-color: #ffdba6;
  border-radius: 25px;
  padding: 30px;
  height: 456px;
  width: 1300px;
  position: relative;
}

.Home_contents {
  color: #572148;
  margin-left: 20px;
  margin-top: 40px;
}
.Home_contents > h3 {
  font-family: "Caveat Brush", cursive;
  font-size: 72px;
}

.Home_contents > p {
  font-family: "Nunito", sans-serif;
  margin-top: 40px;
  margin-right: 80px;
  font-size: 18px;
}
.Home_image {
  margin-top: 40px;
}
.searchcontainer {
  background-color: #ffffff;
  border-radius: 25px;
  width: 597px;
  height: 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  padding-left: 50px;
  position: absolute;
  z-index: 9;
  top: 430px;
  left: 360px;
  font-family: "Nunito", sans-serif;
}
.searchcontainer > p {
  font-weight: bold;
  font-size: 25px;
}
.searchinput {
  border-radius: 5px;
  border: 1px solid #828282;
  width: 350px;
  margin-right: 40px;
}
.choose {
  border-radius: 5px;
  border: 1px solid #828282;
  width: 150px;
}
.numberevents {
  font-family: "Nunito", sans-serif;
  margin-bottom: 20px;
  margin-left: 20px;
}
/* .app_events {
  display: grid;
  grid-template-columns: 272.04px 272.04px 272.04px 272.04px;
  align-items: baseline;
  justify-content: space-around;
} */
.eventcard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 20px;
}
.eventbox {
  border: solid 1px;
  width: 272.04px;
  height: 287.45px;
  margin-top: 20px;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 10px;
  left: 10px;
}
.event_details {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}
.event_name {
  margin-top: 20px;
  font-size: 16.28px;
  font-weight: bold;
  color: #141b25;
}
.event_fields {
  display: flex;
  font-size: 10.85px;
  color: #141b25b5;
  justify-content: space-between;
  margin-top: 20px;
}
.event_field1 {
  display: flex;
}
.event_field2 {
  display: flex;
}
.load {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #939292;
  background-color: #ffffff;
  margin-top: 60px;
  margin-bottom: 80px;
  margin-left: 650px;
}
@media screen and (max-width: 992px) {
  .Home {
    width: 870px;
  }
  .searchcontainer {
    width: 397px;
    left: 210px;
  }
  .searchinput {
    width: 150px;
  }
  .eventcard {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    margin-left: 140px;
  }
  .load {
    margin-left: 400px;
  }
}
@media screen and (max-width: 600px) {
  .eventcard {
    grid-template-columns: 1fr;
    justify-content: center;
    margin-left: 440px;
  }
}
